@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap&subset=latin-ext');

/* Global Settings */
*, *::befor, *::after {
    box-sizing: border-box;
}

/* Define hue variable for quiz validation */
:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 30%);

    font-family: 'Courgette', cursive;
    /* font-family: Arial, Helvetica, sans-serif; */

    padding: 0;
    margin: 0;
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

/* Heading */
header {
    margin: 1rem 2rem;
    text-align: center;
    border: 3px dashed #aaa;
    background-color: #eee;
    box-shadow: 0px 0px 5px 2px;
    border-radius: 5px;
}

header h1{
    font-weight: 800;
}

/* Centrify main section */
main {
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

/* Postcard effect for whole question section */
.container {
    width: 800px;
    max-width: 80%;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 10px 2px;
}

/* Question Text */
.question {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
}

/* Answer-Button-Grid */
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

/* Buttons colored by choice made */
.btn {
    --hue: var(--hue-neutral);
    background-color: hsl(var(--hue), 100%, 50%);
    border: 2px solid hsl(var(--hue), 100%, 30%);
    border-radius: 5px;
    color: #fff;

    font-family: 'Courgette', cursive;

    padding: 5px 10px;
    outline: none;

    font-size: 1.1rem;
}

.btn:hover {
    border-color: #000;
}

.btn:focus {
    border: 2px dashed #000;
}

.btn.correct {
    --hue: var(--hue-correct);
    color: #000;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.control-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

/* Control Buttons */
.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Elements to be hidden */
.hide {
    display: none;
}

/* Form validation error */
.validate-error {
    text-align: center;
    width: 100%;
    color: #f00;
    padding: 10px;
}

/* Answer-Checkbox pair */
.answer-container {
    display: flex;
}

.answer-btn {
    flex-basis: 100%;
}

/* Smaller screens */
@media(max-width: 768px) {
    .btn-grid {
        grid-template-columns: repeat(1, auto);
    }
}